@import url("http://fonts.googleapis.com/css?family=Francois+One");
@import url("http://fonts.googleapis.com/css?family=Didact+Gothic");
body {
  height: 100vh;
  width: 100vw;
  background: url(../img/bg_tienda.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center; }

#container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 85vw;
  height: 80vh;
  background: white;
  box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.7); }
  #container header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 30px;
    background: #8dbe49;
    box-shadow: 1px 0 1px 0 rgba(50, 50, 50, 0.1);
    transition: box-shadow 0.4s linear;
    margin-top: -1px; }
    #container header:hover {
      box-shadow: 1px 0 1px 0 rgba(50, 50, 50, 0.4);
      transition: box-shadow 0.4s linear; }
    #container header h1 {
      width: 20%;
      font-family: "governorregular";
      color: white;
      font-size: 24px;
      line-height: 30px; }
    #container header h2 {
      font-family: "Didact Gothic", sans-serif;
      font-size: 16px;
      color: white; }
    #container header nav a {
      font-family: "Didact Gothic", sans-serif;
      color: white;
      font-size: 13px;
      line-height: 16px;
      padding: 5px; }
      #container header nav a span {
        font-family: "ElegantIcons";
        font-size: 14px; }
      #container header nav a:hover {
        text-decoration: underline; }
  #container #middle {
    height: 60vh;
    width: 85.1vw; }
    #container #middle form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: inherit; }
      #container #middle form section {
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: 50px 0; }
        #container #middle form section div {
          display: flex;
          flex-flow: column wrap;
          align-items: flex-start;
          justify-content: space-between;
          width: 50%;
          padding: 3px;
          margin: 5px 0;
          transition: box-shadow 0.5s ease-in; }
          #container #middle form section div label {
            font-family: "Didact Gothic", sans-serif;
            font-size: 14px;
            color: #8dbe49;
            margin-left: 5px; }
            #container #middle form section div label span {
              font-family: "ElegantIcons";
              font-size: 14px; }
          #container #middle form section div input {
            width: 80%;
            background: white;
            border: 1px solid #8dbe49;
            border-bottom-width: 5px;
            margin-top: 3px;
            outline: 0;
            padding: 8px 18px;
            font-family: "Didact Gothic", sans-serif;
            color: #8dbe49; }
          #container #middle form section div input[type=submit] {
            background: #8dbe49;
            font-family: "Didact Gothic", sans-serif;
            color: white;
            font-size: 16px;
            padding: 9px 29px;
            border: 0;
            cursor: pointer;
            transition: padding 0.3s ease;
            align-self: flex-end; }
        #container #middle form section h2 {
          font-family: "Francois One", sans-serif;
          color: #8dbe49;
          text-decoration: underline;
          font-size: 22px;
          align-self: flex-start; }
        #container #middle form section p {
          font-family: "Didact Gothic", sans-serif;
          font-size: 16px;
          color: #111; }
  #container #middle table {
    height: 60vh;
    width: 85.1vw;
    border-collapse: collapse; }
    #container #middle table thead {
      border-bottom: 2px solid #8dbe49; }
      #container #middle table thead tr th {
        padding: 8px 0;
        font-family: "Didact Gothic", sans-serif;
        font-size: 14px;
        letter-spacing: .8px;
        color: #8dbe49; }
    #container #middle table tbody tr:nth-child(even) {
      background: #fbfbfb;
      box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.1); }
    #container #middle table tbody tr td {
      padding: 6px;
      font-family: "Didact Gothic", sans-serif;
      font-size: 12px;
      color: #6e9636;
      text-align: center; }
      #container #middle table tbody tr td a {
        color: #6e9636;
        width: 100%;
        cursor: pointer;
        display: block;
        font-family: "ElegantIcons"; }
        #container #middle table tbody tr td a:hover, #container #middle table tbody tr td a:visited {
          color: #6e9636; }
  #container footer {
    background: #8dbe49;
    height: 10vh;
    width: 100%;
    margin-bottom: -1px;
    box-shadow: 1px 0 1px 0 rgba(50, 50, 50, 0.1);
    transition: box-shadow 0.4s linear; }
    #container footer:hover {
      box-shadow: -1px 0 1px 0 rgba(50, 50, 50, 0.4);
      transition: box-shadow 0.4s linear; }
    #container footer form {
      height: 10vh;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-around; }
      #container footer form label {
        font-family: "Didact Gothic", sans-serif;
        font-size: 13px;
        color: white; }
      #container footer form input, #container footer form select {
        background: white;
        border: 0;
        outline: none;
        padding: 9px 19px;
        color: #8dbe49;
        font-family: "Didact Gothic", sans-serif;
        transition: box-shadow 0.8s ease; }
        #container footer form input:hover, #container footer form select:hover {
          outline: none;
          transition: box-shadow 0.8s ease;
          box-shadow: 0 0 2px 0 rgba(30, 30, 30, 0.4); }
        #container footer form input:focus, #container footer form select:focus {
          transition: box-shadow 0.8s ease;
          box-shadow: 0 0 2px 0 rgba(30, 30, 30, 0.5); }
      #container footer form a {
        background: white;
        padding: 9px 19px;
        font-family: "Francois One", sans-serif;
        font-size: 14px;
        letter-spacing: 1px;
        color: #8dbe49;
        box-shadow: 0 0 2px 0 rgba(30, 30, 30, 0.3);
        transition: box-shadow 0.8s ease; }
        #container footer form a span {
          font-family: "ElegantIcons";
          font-size: 14px; }
        #container footer form a:hover {
          transition: box-shadow 0.8s ease;
          box-shadow: 0 0 2px 0 rgba(30, 30, 30, 0.5); }

@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    background: none;
    height: auto;
    overflow: scroll; }

  #container {
    width: 100%;
    height: 100%; }
    #container header {
      height: auto;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-between;
      padding: 0; }
      #container header h1 {
        padding: 10px 5px 0px 5px;
        font-size: 18px; }
      #container header h2 {
        padding: 5px; }
      #container header nav {
        background: white;
        width: 100%;
        height: auto;
        align-self: flex-end;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        border-top: 1px solid rgba(0, 0, 0, 0.3); }
        #container header nav a {
          color: #8dbe49;
          padding: 5px 12px;
          font-size: 12px;
          text-decoration: underline; }
          #container header nav a span {
            text-decoration: none;
            padding-left: 3px;
            font-size: 12px;
            color: #8dbe49;
            visibility: visible; }
    #container #middle {
      height: auto;
      width: 100%; }
    #container footer {
      height: 20vh;
      width: 100%; } }

/*# sourceMappingURL=carrito.css.map */
