* {
	font-size: 14px;
	font-family: 'roboto_slablight';
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: none;
	outline: none;
	box-sizing: content-box;
}
#container {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	background: #f2f7e8;
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 22vh;
}
#header .logo a img {
	width: 20vh;
	height: auto;
	margin: 10px;
}
#header nav a {
	color: #f2f7e8;
	background: #84be49;
	padding: 9px 28px;
	margin: 0 10px;
}
#header nav a:hover {
	background: #70a53b;
}

#main {
	background: url(../img/bg1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
#main h1 {
	font-family: 'governorregular';
	font-size: 58px;
	color: #84be49;
	letter-spacing: 10px;
	margin-top: 100px;
	margin-bottom: 32px;
}
#main h2 {
	width: 80%;
	font-family: 'roboto_slabthin';
	font-size: 18px;
	color: #f2f7e8;
	margin-bottom: 32px;
	text-align: center;
}
#main .botones {
	display: flex;
	flex-flow: row wrap;
	width: 32%;
	justify-content: space-between;
	margin-bottom: 32px;
}
#main .botones a {
	font-family: 'governorregular';
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	color: #84be49;
	padding: 15px 0;
	width: 45%;
	border: 2px solid #84be49;
	border-radius: 4px;
}
#main .botones a:hover {
	background: #84be49;
	color: #f2f7e8;
}
#main .social {
	width: 20%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
#main .social a {
	font-family: 'eleganticons';
	font-size: 18px;
	color: #84be49;
}
#main .social a span {
	margin-left: 2px;
	color: #f2f7e8;
}
#main .social a:hover span {
	color: #84be49;
}

#alimentacion {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-content: center;
	align-items: center;
	background: #8ec357;
}
#alimentacion header {
	margin-top: 100px;
	width: 100%;
	padding: 10px;
	text-align: center;
}
#alimentacion header h2 {
	font-family: 'governorregular';
	font-size: 36px;
	letter-spacing: 4px;
	color: #f2f7e8;
	margin-bottom: 0px;
}
#alimentacion header h3 {
	color: #5d8831;
}
#alimentacion #frame {
	width: 80%;
	height: 50vh;
	padding: 0;
	margin-top: 30px;
}
#alimentacion #frame .slidee {
	height: 100%;
	list-style-type: none;
}
#alimentacion #frame .slidee  li {
	float: left;
	display: block;
	width: 300px;
	height: 300px;
	background: #f2f7e8;
	overflow: hidden;
	margin-left: 50px;
}
#alimentacion #frame .slidee li a img {
	width: 300px;
	height: auto;

}