
header {
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 74px;
	background-color: #fff; 	
	border-bottom: 1px solid #9e9e9e;
}
header h1 a {
	float: left;
	font-family: 'eastside_regularregular';
	font-size: 1.15em;
	color: #0f0f0f ;
	padding: 11.5px 20px;
}
header h1 a:hover, header h1 a:visited { color: #0f0f0f }

#nav_principal {
	position: absolute;
	top: 0;
	right: 0;
	width: 800px;
}
#nav_principal ul {
	list-style: none;
}
#nav_principal ul li {
	float: right;
	margin: 10px 0;
	padding: 13.5px 1.4em;
	text-align: center;
	border-right: 1px solid #9e9e9e;
}
#nav_principal ul li a {
	text-decoration: none;
	font-family: 'edmondsansregular';
	font-size: 18px;
	color: #9e9e9e;
	text-transform: lowercase;
}
#nav_principal ul li a:hover {
	color: black;
}
#nav_principal ul li:first-child {
	border: none;
}

#nav_principal ul li.soc_icon {
	padding: 0 1em;
	margin: 0;
	text-align: left;
	border: none;
}

article {
	position: absolute;
	top: 21%;
	width: 50%;
	height: auto;
	-webkit-box-shadow: inset 0px -15px 0px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    inset 0px -15px 0px 0px rgba(0, 0, 0, 1);
	box-shadow:         inset 0px -15px 0px 0px rgba(0, 0, 0, 1);
}
#left {	left: 0% }
#right { left: 50% }

article div {
	width: 54%;
	float: left;
}
article h1 {
	font-family: 'eastside_regularregular';
	font-size: 18pt;
	font-weight: 100;
	margin: 10px 10px 0 10px;
	padding-left: 5px;
	border-bottom: 1px dotted black;
	border-top:1px dotted black;
}
article p {
	font-family: 'maven_pro_light200';
	font-size: 11pt;
	padding: 15px 10px;
	font-weight: bold;
	background: white;
}
article img {
	width: 46%;
	height: auto;
	display: block;
}

nav.menu_flotante_horizontal {
	display: none;
	position: absolute;
	top: 74px;
	right: 0;
	z-index: 999;
}
nav.menu_flotante_horizontal ul li { float: left; }
nav.menu_flotante_horizontal ul li a {
	display: block;
	width: 150px;
	padding: 5px 10px;
	margin: 15px 15px 0 0;
	background: black;
	color: white;
	font-family: 'maven_pro_light200';
	font-size: 15pt;
	text-transform: uppercase;
	border: 1px solid black;
}
nav.menu_flotante_horizontal ul li a:hover {
	background: white;
	color: black;
	border: 1px dotted black;
}