
//Importacion de fuentes
$family: unquote("Francois+One");
@import url("http://fonts.googleapis.com/css?family=#{$family}");
$family2: unquote("Didact+Gothic");
@import url("http://fonts.googleapis.com/css?family=#{$family2}");

$fuenteLogo : 'governorregular';
$fuentePrincipal : 'Francois One', sans-serif;
$fuenteSecundaria : 'Didact Gothic', sans-serif;
$fuenteIconos : 'ElegantIcons';

$colorPrincipal : #8dbe49;
$sombra : #6e9636;
$luz : #b1d383;


@mixin flexbox($row, $wrap, $align, $justify) {
	display: flex;
	flex-flow: $row $wrap;
	align-items: $align;
	justify-content: $justify;
}
header {
	width: 100%;
	@include flexbox(row, wrap, center, space-around);
	height: 40vh;
	background: url(../img/bg_tienda.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.logo {
		@include flexbox(column, nowrap, flex-start, center);
		width: 50%;
		height: 30vh;
		padding-left: 20px;
		h1 {
			font-family: $fuenteLogo;
			font-size: 32px;
			color: $colorPrincipal;
		}
		a {
			font-family: $fuenteSecundaria;
			color: white;
			font-size: 18px;
			margin-left: 10px;
		}
	}
	nav {
		@include flexbox(row, nowrap, center, flex-end);
		padding-right: 20px;
		width: 50%;
		height: 30vh;
		&:focus { outline: none	};
		.icono {
			font-family: 'ElegantIcons';
			font-size: 26px;
			color: $colorPrincipal;
			border-radius: 20px;
			box-shadow: 0px 0px 0px 3px rgba(30,30,30,.3);
			transition: box-shadow 0.7s ease;
			&:hover {
				box-shadow: 0px 0px 0px 3px rgba(30,30,30,.6);
				transition: box-shadow 0.7s ease;
			}
			margin-right: 15px;
		}
		.boton {
			font-family: $fuenteLogo;
			font-size: 13px;
			color: white;
			padding: 12px 33px;
			letter-spacing: 1px;
			background: $colorPrincipal;
			box-shadow: 0px 0px 0px 3px rgba(30,30,30,.3);
			transition: padding 0.2s ease-in, box-shadow 0.7s ease-in;
			&:hover, &:focus {
				box-shadow: 0px 0px 0px 3px rgba(30,30,30,.6); 
				transition: padding 0.2s ease-in-in, box-shadow 0.7s ease-in;
				padding: 16px 38px;
			}
			span {
				font-family: $fuenteSecundaria;
				font-size: 13px;
			}
		}
		input {
			outline: none;
			border: 0;
			padding: 6px 16px;
			font-family: $fuenteSecundaria;
			color: $colorPrincipal;
			transition: padding 0.3s ease-in;
			&:hover {
				transition: padding 0.3s ease-in;
				border: 1px solid $colorPrincipal;
			}
			&:focus {
				padding: 9px 19px;
			}
			&[type=submit] {
				background: $colorPrincipal;
				color: white;
			}
		}
	}
	#tabs {
		display: none;
		width: 100%;
		height: 10vh;
		align-self: flex-end;
		padding: 0 !important;
		@include flexbox(row, nowrap, flex-end, space-around);
		a {
			width: 25%;
			font-size: 16px;
			text-align: center;
			border-bottom: 5px solid $luz;
			font-family: $fuenteSecundaria;
			padding-bottom: 10px;
			color: white;
			transition: border 0.3s ease-in;
			&:hover {
				transition: border 0.3s ease-in;
				border-color: $colorPrincipal;
			}
			&.active {
				border-color: $colorPrincipal;
				color: $colorPrincipal;
			}
		}
		.search {
			width: 25%;
			@include flexbox(row, nowrap, center, center);
			padding-bottom: 10px;
			border-bottom: 5px solid $luz;
			transition: border 0.3s ease-in;
			&:hover {
				transition: border 0.3s ease-in;
				border-color: $colorPrincipal;
			}
			&:focus {
				a {
					padding: 8px 6px;
				}
			}
			input {
				width: 60%;
				font-family: $fuenteSecundaria;
				font-size: 13px;
				color: $colorPrincipal;
				padding: 5px 12px;
				border: none;
				transition: padding .3s ease-in;
				&:focus {
					padding: 9px 16px;
					transition: padding .3s ease-in;
					outline: none;
				}
			}
			a {
				width: 10%;
				font-family: $fuenteIconos;
				color: white;
				background: $colorPrincipal;
				padding: 6px;
				font-size: 14px;
				border: none;
			}
		}
	}
}
#container {
	@include flexbox(row, nowrap, flex-start, flex-start);
	#filtro {
		width: 20%;
		margin: 0;
		padding: 10px;
		&.hide {
			display: none !important;
		}
		span {
			margin-top: 10px;
			display: none;
			&.active {
				@include flexbox(column, nowrap, inherit, inherit);
			}
			a {
				font-family: $fuenteSecundaria;
				font-size: 13px;
				color: $colorPrincipal;
				border-bottom: 1px solid $colorPrincipal;
				padding: 10px 8px;
				transition: background 0.2s ease, color 0.2s ease;
				&:hover {
					background: $colorPrincipal;
					color: white;
					transition: background 0.2s ease, color 0.2s ease;
					span {
						color: white;
					}
				}
				&.active {
					background: $colorPrincipal;
					color: white;
					span {
						color: white;
					}
				}
				span {
					font-family: $fuenteIconos;
					color: $colorPrincipal;
					font-size: 13px;
					display: inline;
				}
			}
		}
	}
	#productos {
		margin-top: 10px;
		width: 80%;
		padding: 15px;
		@include flexbox(row, wrap, center, space-between);
		h2 {
			margin: 15px;
			font-family: $fuenteSecundaria;
			color: $colorPrincipal;
		}
		&.full {
			width: 100%;
		}
		.prod {
			@include flexbox( column, wrap, center, center);
			border-bottom: 5px solid $colorPrincipal;
			width: 30%;
			margin-bottom: 10px;
			padding: 5px;
			box-shadow: 0px 0px 2px 0px rgba(15,15,15,.4);
			&:hover {
				transition: box-shadow 0.5s ease-in;
				box-shadow: 0px 0px 3px 0px rgba(15,15,15,.5);
			}
			@keyframes box-shadow-animate {
				0% {
					box-shadow: 0px 0px 5px 2px $colorPrincipal;
				}
				100% {
					box-shadow: 0 0 5px 2px rgba($colorPrincipal, 0);
				}
			}
			&.box-shadow-animate {
				animation-name: box-shadow-animate;
				animation-duration: 1.5s;
				animation-iteration-count: 1;
				animation-timing-function: linear;
			}
			@keyframes box-shadow-animate-error {
				0% {
					box-shadow: 0px 0px 5px 2px red;
				}
				100% {
					box-shadow: 0 0 5px 2px rgba(red, 0);
				}
			}
			&.box-shadow-animate-error {
				animation-name: box-shadow-animate-error;
				animation-duration: 1.5s;
				animation-iteration-count: 1;
				animation-timing-function: linear;
			}
			a {
				width: 100%;
				text-align: center;
				letter-spacing: 1px;
				word-break: break-all;
				font-size: 14px;
				font-family: $fuentePrincipal;
				color: $colorPrincipal;
				word-break: keep-all;
			}
			.top {
				overflow: hidden;
				width: 100%;
				height: 180px;
				-webkit-background-size: cover !important;
				-moz-background-size: cover !important;
				-o-background-size: cover !important;
				background-size: cover !important;
				background-attachment: local !important;
				background-repeat: no-repeat !important;
				background-position: center center !important;
			}
			p {
				border-bottom: 0;
				font-family: $fuenteSecundaria;
				color: $luz;
				font-size: 13px;
				padding-left: 3px;
			}
			form {
				padding: 10px 15px;
				@include flexbox(row, wrap, center, center);
				.cant {
					width: 30%;
					padding: 7px;
					font-family: $fuenteSecundaria;
					color: $colorPrincipal;
					border: 1px solid $colorPrincipal;
					&:focus {
						border-color: $luz;
						outline: none;
					}
				}
				span {
					width: 20%;
					font-family: $fuenteSecundaria;
					font-size: 13px;
					color: white;
					background: $colorPrincipal;
					padding: 7px 3px;
				}
				select {
					width: 40%;
					margin-left: 15px;
					padding: 6px 0;
					font-family: $fuenteSecundaria;
					color: $colorPrincipal;
					border: 1px solid $colorPrincipal;
				}
				input[type=submit] {
					width: 100%;
					background: $colorPrincipal;
					border: none;
					margin-top: 10px;
					color: white;
					font-family: $fuenteSecundaria;
					font-size: 14px;
					padding: 12px 7px;
					outline: none;
					&:hover {
						box-shadow: 0px 0px 1px 1px rgba(15,15,15,.5);
						transition: box-shadow 0.5s ease-in;
					}
					&:focus {
						outline: none;
					}
				}
			}
			span.msg {
				font-family: $fuentePrincipal;
				color: $colorPrincipal;
				font-size: 14px;
				text-align: center;
			}
		}
	}
}

//////
@media screen and (min-width: 320px) and (max-width: 480px) {
	header {
		//@include flexbox(column, wrap, center, inherit);
		width: 100%;
		height: 30vh;
		.logo {
			width: auto;
			height: 10vh;
			padding-left: 10px;
			h1 {font-size: 16px}
			a {font-size: 12px}
		}
		nav {
			justify-content: center;
			width: auto;
			padding-right: 10px;
			height: 10vh;
			.icono { display: none; }
			.boton {
				font-size: 12px;
				letter-spacing: 0;
				padding:11px 22px; 
				width: 100%;
				&:focus,&:hover {padding: 11px 22px}
			}
		}
		#tabs {
			@include flexbox(row, wrap, center, space-around);
			width: 100%;
			height: 20vh;
			align-self: flex-end;
			.tab {
				order: 1;
				width: 30%;
				padding: 10px 0; 
				font-size: 14px;
				&:focus {
					background: $colorPrincipal;
					color: white;
					border-bottom: 0;
				}
			}
			.search {
				order: 0;
				width: 80%;
				border: 0;
				padding: 0;
				input {
				}
			}
		}
	}
	//END HEADER
	#container {
		@include flexbox(column, nowrap, center, flex-start);
		padding: 15px;
		#filtro {
			width: 100%;
			padding: 0;
			span {
				margin: 0;
				padding: 0;
				&.active {@include flexbox(row, wrap, flex-start, flex-start)}
				a {
					padding: 2px 5px 2px 0;
					font-size: 11px;
					color: $colorPrincipal;
					background: white;
					border-bottom: 1px dotted $colorPrincipal;
					span { font-size: 11px }
					&.active {
						background: none;
						color: $colorPrincipal;
						span { color: $colorPrincipal}
					}
				}
			}
		}
		#productos {
			@include flexbox(column, nowrap, center, inherit);
			width: 100%;
			padding: 0;
			.prod {
				width: 100%;
				padding: 10px;
				box-shadow: 0 0 2px 0 rgba(black,0.3);
				img {
					max-width: 100%;
					height: auto;
					margin-bottom: 10px;
				}
				form {
					padding: 0;
					width: 100%;
					@include flexbox(column, nowrap, center, inherit);
					h2 {
						width: 100%;
						font-family: $fuentePrincipal;
						color: $colorPrincipal;
						font-size: 16px;
						letter-spacing: .5px;
					}
					span {
						width: 100%;
						@include flexbox(row, wrap, center, inherit);
						background: none;
						input { width: 30%;}
						p {
							width: 20%;
							font-family: $fuenteSecundaria;
							color: $colorPrincipal;
							font-size: 15px;
							margin: 0;
						}
						input[type=submit] {
							width: 100%;
							background: $colorPrincipal;
							border: none;
							margin-top: 10px;
							color: white;
							font-family: $fuenteSecundaria;
							font-size: 14px;
							padding: 12px 7px;
						}
					}
				}
			}
		}
	}
}