* {
	box-sizing: border-box;
	font-family: 'roboto_slabregular';
	padding: 0;
	margin: 0;
	outline: none;
}
body {
	display: flex;
	flex-flow: row nowrap;
}
.contenedor {
	display: flex;
	flex-flow: column wrap;
	width: 100%;
	padding: 25px;
}
.contenedor header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: baseline;
}
.contenedro header div.titulo {
	display: flex;
	flex-flow: column wrap;
}
.contenedor header div.titulo h1 {
	font-size: 2.5em;
	font-family: 'governorregular';
	color: #97be49;
}
.contenedor header div.titulo h2 {
	font-size: 1em;
	font-family: 'governorregular';
	color: #222;
	margin: 2%;
}
.contenedor header nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	width: 50%;
}
.contenedor header nav a {
	font-family: 'ElegantIcons';
	font-size: 1.7em;
	color: #97be49;
	margin-left: 2%; 
}
.contenedor header nav a:hover {
	color: #222;
}
.contenedor header nav a.boton {
	font-family: 'governorregular';
	color: white;
	font-size: 1em;
	background: #97be49;
	padding: 13px 32px;
	text-align: center;
	margin-left: 4%;
}
.contenedor header nav a.boton:hover {
	padding: 11px 30px;
	border: 2px solid #97be49;
	color: #97be49;
	background: none;
}
.contenedor header nav a.boton span {
	font-family: 'ElegantIcons';
}
/*----------------------------------------------------------------------------------*/
.contenedor .contenido {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
}
.contenedor .contenido #filtro {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	margin-top: 5px;
	margin-bottom: 30px;
}
.contenedor .contenido #filtro  a {
	font-family: 'roboto_slablight';
	background: #97be49;
	color: #fff;
	padding: 7px 22px;
	margin-right: 12px;
}
/*-------------------------------------------------------------------------------------*/
.contenedor .contenido .productos {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
}
.contenedor .contenido .productos div.column {
	width: 30%;
	height: auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}
.contenedor .contenido .productos div.column div {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	margin-bottom: 5%;
}
.contenedor .contenido .productos div.column img {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.contenedor .contenido .productos div.column span {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px dotted #97be49;
	padding: 2% 0%;
}
.contenedor .contenido .productos div.column span.fondo, .contenedor .contenido .productos div.column span.fondo h2, .contenedor .contenido .productos div.column span.fondo a {
	border: none;
	background: #97be49;
	color: white;
}
.contenedor .contenido .productos div.column span h2 {
	font-family: 'roboto_slablight';
	color: #97be49;
	margin-left: 2%;
	font-size: 1.2em;
}
.contenedor .contenido .productos div.column span a {
	font-family: 'ElegantIcons';
	color: #97be49;
	margin-right: 2%;
}
form.oculto {
	display: none;
}
.contenedor .contenido .productos div.column form {
	background: #97be49;
	color: white;

}
.contenedor .contenido .productos div.column form div {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 1%;
}
.contenedor .contenido .productos div.column form div label {
	margin:0;
	font-family: 'roboto_slablight';
	font-size: .9em;
	margin-left: 1%;
}
.contenedor .contenido .productos div.column form div input {
	margin: 0;
	border: 0;
	background: none;
	border-bottom: 1px dotted white;
	color: white;
	margin-right: 1%;
	text-align: right;
}
.contenedor .contenido .productos div.column form p {
	margin: 1% 2% 2% 1%;
	font-size: .9em;
	font-family: 'roboto_slablight';
}
.contenedor .contenido .productos div.column form input[type=submit] {
	width: 100%;
	margin: 0;
	border: 0;
	background: #A1CB4E;
	padding: 3% 0;
	color: white;
}
.contenedor .contenido .productos div.column form input[type=submit]:hover {
	background: #83A43F;
}

#carrito {
	width: 20%;
	display: none;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	padding-left: 10px;
	background: url(../img/white_paperboard.png) repeat center center fixed; 
	box-shadow: 1px 0 7px #aaa inset;
	text-shadow: 1px 1px 0px #fff;
	color: #97be49;
}
#carrito a {
	font-family: 'governorregular';
	font-size: 4em;
	height: auto;
	margin: 20px 0;
	text-shadow: 1px 1px 4px #fff;	
	color: #97be49;
}
#carrito a.boton {
	width: 100%;
	display: block;
	font-size: 1em;
	font-weight: 100;
	color: #97be49;
	padding: 16px 0;
	background: none;
	border: 2px solid #97be49;
	align-self: flex-end;
	margin-top: 30px;
	text-shadow: 0 0 0 #fff;
	text-align: center;
}
#carrito form h2 {
	font-family: 'governorregular';
	font-size: 1.3em;
	margin-bottom: 10px;
}
#carrito form .direccion {
	font-family: 'roboto_slablight';
	font-size: 1.2em;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
#carrito form fieldset {
	display: flex;
	width: 100%;
	flex-flow: column nowrap;
	border: 1px solid #bbb;
	box-shadow: 1px 1px 0 #fff;
	padding: 5px 10px 10px 10px;
	margin-top: 5px;
}
#carrito form fieldset div {
	width: 100%;
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	border-bottom: 1px dotted #97be49;
	font-size: .8em;
	margin-top: 3px;
}
#carrito form fieldset div input {
	border: 0; 
	padding: 0;
	width: auto;
	background: none;
	color: #97be49;
}
#carrito form fieldset div input::-webkit-input-placeholder {
	color: #97be49;
}
#carrito form fieldset a {
	font-family: 'ElegantIcons';
	color: #719033;
	font-size: 1em;
	margin: 0;
	align-self: flex-end;
}
