@import url("http://fonts.googleapis.com/css?family=Francois+One");
@import url("http://fonts.googleapis.com/css?family=Didact+Gothic");
header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  height: 40vh;
  background: url(../img/bg_tienda.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header .logo {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: 30vh;
    padding-left: 20px; }
    header .logo h1 {
      font-family: "governorregular";
      font-size: 32px;
      color: #8dbe49; }
    header .logo a {
      font-family: "Didact Gothic", sans-serif;
      color: white;
      font-size: 18px;
      margin-left: 10px; }
  header nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    width: 50%;
    height: 30vh; }
    header nav:focus {
      outline: none; }
    header nav .icono {
      font-family: 'ElegantIcons';
      font-size: 26px;
      color: #8dbe49;
      border-radius: 20px;
      box-shadow: 0px 0px 0px 3px rgba(30, 30, 30, 0.3);
      transition: box-shadow 0.7s ease;
      margin-right: 15px; }
      header nav .icono:hover {
        box-shadow: 0px 0px 0px 3px rgba(30, 30, 30, 0.6);
        transition: box-shadow 0.7s ease; }
    header nav .boton {
      font-family: "governorregular";
      font-size: 13px;
      color: white;
      padding: 12px 33px;
      letter-spacing: 1px;
      background: #8dbe49;
      box-shadow: 0px 0px 0px 3px rgba(30, 30, 30, 0.3);
      transition: padding 0.2s ease-in, box-shadow 0.7s ease-in; }
      header nav .boton:hover, header nav .boton:focus {
        box-shadow: 0px 0px 0px 3px rgba(30, 30, 30, 0.6);
        transition: padding 0.2s ease-in-in, box-shadow 0.7s ease-in;
        padding: 16px 38px; }
      header nav .boton span {
        font-family: "Didact Gothic", sans-serif;
        font-size: 13px; }
    header nav input {
      outline: none;
      border: 0;
      padding: 6px 16px;
      font-family: "Didact Gothic", sans-serif;
      color: #8dbe49;
      transition: padding 0.3s ease-in; }
      header nav input:hover {
        transition: padding 0.3s ease-in;
        border: 1px solid #8dbe49; }
      header nav input:focus {
        padding: 9px 19px; }
      header nav input[type=submit] {
        background: #8dbe49;
        color: white; }
  header #tabs {
    display: none;
    width: 100%;
    height: 10vh;
    align-self: flex-end;
    padding: 0 !important;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-around; }
    header #tabs a {
      width: 25%;
      font-size: 16px;
      text-align: center;
      border-bottom: 5px solid #b1d383;
      font-family: "Didact Gothic", sans-serif;
      padding-bottom: 10px;
      color: white;
      transition: border 0.3s ease-in; }
      header #tabs a:hover {
        transition: border 0.3s ease-in;
        border-color: #8dbe49; }
      header #tabs a.active {
        border-color: #8dbe49;
        color: #8dbe49; }
    header #tabs .search {
      width: 25%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      padding-bottom: 10px;
      border-bottom: 5px solid #b1d383;
      transition: border 0.3s ease-in; }
      header #tabs .search:hover {
        transition: border 0.3s ease-in;
        border-color: #8dbe49; }
      header #tabs .search:focus a {
        padding: 8px 6px; }
      header #tabs .search input {
        width: 60%;
        font-family: "Didact Gothic", sans-serif;
        font-size: 13px;
        color: #8dbe49;
        padding: 5px 12px;
        border: none;
        transition: padding .3s ease-in; }
        header #tabs .search input:focus {
          padding: 9px 16px;
          transition: padding .3s ease-in;
          outline: none; }
      header #tabs .search a {
        width: 10%;
        font-family: "ElegantIcons";
        color: white;
        background: #8dbe49;
        padding: 6px;
        font-size: 14px;
        border: none; }

#container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start; }
  #container #filtro {
    width: 20%;
    margin: 0;
    padding: 10px; }
    #container #filtro.hide {
      display: none !important; }
    #container #filtro span {
      margin-top: 10px;
      display: none; }
      #container #filtro span.active {
        display: flex;
        flex-flow: column nowrap;
        align-items: inherit;
        justify-content: inherit; }
      #container #filtro span a {
        font-family: "Didact Gothic", sans-serif;
        font-size: 13px;
        color: #8dbe49;
        border-bottom: 1px solid #8dbe49;
        padding: 10px 8px;
        transition: background 0.2s ease, color 0.2s ease; }
        #container #filtro span a:hover {
          background: #8dbe49;
          color: white;
          transition: background 0.2s ease, color 0.2s ease; }
          #container #filtro span a:hover span {
            color: white; }
        #container #filtro span a.active {
          background: #8dbe49;
          color: white; }
          #container #filtro span a.active span {
            color: white; }
        #container #filtro span a span {
          font-family: "ElegantIcons";
          color: #8dbe49;
          font-size: 13px;
          display: inline; }
  #container #productos {
    margin-top: 10px;
    width: 80%;
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between; }
    #container #productos h2 {
      margin: 15px;
      font-family: "Didact Gothic", sans-serif;
      color: #8dbe49; }
    #container #productos.full {
      width: 100%; }
    #container #productos .prod {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      border-bottom: 5px solid #8dbe49;
      width: 30%;
      margin-bottom: 10px;
      padding: 5px;
      box-shadow: 0px 0px 2px 0px rgba(15, 15, 15, 0.4); }
      #container #productos .prod:hover {
        transition: box-shadow 0.5s ease-in;
        box-shadow: 0px 0px 3px 0px rgba(15, 15, 15, 0.5); }
@keyframes box-shadow-animate {
  0% {
    box-shadow: 0px 0px 5px 2px #8dbe49; }
  100% {
    box-shadow: 0 0 5px 2px rgba(141, 190, 73, 0); } }
      #container #productos .prod.box-shadow-animate {
        animation-name: box-shadow-animate;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: linear; }
@keyframes box-shadow-animate-error {
  0% {
    box-shadow: 0px 0px 5px 2px red; }
  100% {
    box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0); } }
      #container #productos .prod.box-shadow-animate-error {
        animation-name: box-shadow-animate-error;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: linear; }
      #container #productos .prod a {
        width: 100%;
        text-align: center;
        letter-spacing: 1px;
        word-break: break-all;
        font-size: 14px;
        font-family: "Francois One", sans-serif;
        color: #8dbe49;
        word-break: keep-all; }
      #container #productos .prod .top {
        overflow: hidden;
        width: 100%;
        height: 180px;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
        background-attachment: local !important;
        background-repeat: no-repeat !important;
        background-position: center center !important; }
      #container #productos .prod p {
        border-bottom: 0;
        font-family: "Didact Gothic", sans-serif;
        color: #b1d383;
        font-size: 13px;
        padding-left: 3px; }
      #container #productos .prod form {
        padding: 10px 15px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center; }
        #container #productos .prod form .cant {
          width: 30%;
          padding: 7px;
          font-family: "Didact Gothic", sans-serif;
          color: #8dbe49;
          border: 1px solid #8dbe49; }
          #container #productos .prod form .cant:focus {
            border-color: #b1d383;
            outline: none; }
        #container #productos .prod form span {
          width: 20%;
          font-family: "Didact Gothic", sans-serif;
          font-size: 13px;
          color: white;
          background: #8dbe49;
          padding: 7px 3px; }
        #container #productos .prod form select {
          width: 40%;
          margin-left: 15px;
          padding: 6px 0;
          font-family: "Didact Gothic", sans-serif;
          color: #8dbe49;
          border: 1px solid #8dbe49; }
        #container #productos .prod form input[type=submit] {
          width: 100%;
          background: #8dbe49;
          border: none;
          margin-top: 10px;
          color: white;
          font-family: "Didact Gothic", sans-serif;
          font-size: 14px;
          padding: 12px 7px;
          outline: none; }
          #container #productos .prod form input[type=submit]:hover {
            box-shadow: 0px 0px 1px 1px rgba(15, 15, 15, 0.5);
            transition: box-shadow 0.5s ease-in; }
          #container #productos .prod form input[type=submit]:focus {
            outline: none; }
      #container #productos .prod span.msg {
        font-family: "Francois One", sans-serif;
        color: #8dbe49;
        font-size: 14px;
        text-align: center; }

@media screen and (min-width: 320px) and (max-width: 480px) {
  header {
    width: 100%;
    height: 30vh; }
    header .logo {
      width: auto;
      height: 10vh;
      padding-left: 10px; }
      header .logo h1 {
        font-size: 16px; }
      header .logo a {
        font-size: 12px; }
    header nav {
      justify-content: center;
      width: auto;
      padding-right: 10px;
      height: 10vh; }
      header nav .icono {
        display: none; }
      header nav .boton {
        font-size: 12px;
        letter-spacing: 0;
        padding: 11px 22px;
        width: 100%; }
        header nav .boton:focus, header nav .boton:hover {
          padding: 11px 22px; }
    header #tabs {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 20vh;
      align-self: flex-end; }
      header #tabs .tab {
        order: 1;
        width: 30%;
        padding: 10px 0;
        font-size: 14px; }
        header #tabs .tab:focus {
          background: #8dbe49;
          color: white;
          border-bottom: 0; }
      header #tabs .search {
        order: 0;
        width: 80%;
        border: 0;
        padding: 0; }

  #container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 15px; }
    #container #filtro {
      width: 100%;
      padding: 0; }
      #container #filtro span {
        margin: 0;
        padding: 0; }
        #container #filtro span.active {
          display: flex;
          flex-flow: row wrap;
          align-items: flex-start;
          justify-content: flex-start; }
        #container #filtro span a {
          padding: 2px 5px 2px 0;
          font-size: 11px;
          color: #8dbe49;
          background: white;
          border-bottom: 1px dotted #8dbe49; }
          #container #filtro span a span {
            font-size: 11px; }
          #container #filtro span a.active {
            background: none;
            color: #8dbe49; }
            #container #filtro span a.active span {
              color: #8dbe49; }
    #container #productos {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: inherit;
      width: 100%;
      padding: 0; }
      #container #productos .prod {
        width: 100%;
        padding: 10px;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3); }
        #container #productos .prod img {
          max-width: 100%;
          height: auto;
          margin-bottom: 10px; }
        #container #productos .prod form {
          padding: 0;
          width: 100%;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          justify-content: inherit; }
          #container #productos .prod form h2 {
            width: 100%;
            font-family: "Francois One", sans-serif;
            color: #8dbe49;
            font-size: 16px;
            letter-spacing: .5px; }
          #container #productos .prod form span {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: inherit;
            background: none; }
            #container #productos .prod form span input {
              width: 30%; }
            #container #productos .prod form span p {
              width: 20%;
              font-family: "Didact Gothic", sans-serif;
              color: #8dbe49;
              font-size: 15px;
              margin: 0; }
            #container #productos .prod form span input[type=submit] {
              width: 100%;
              background: #8dbe49;
              border: none;
              margin-top: 10px;
              color: white;
              font-family: "Didact Gothic", sans-serif;
              font-size: 14px;
              padding: 12px 7px; } }

/*# sourceMappingURL=tienda.css.map */
