@import "../modules/_all";

//fuentes
$font-base : 'governorregular';
$font-main : 'Francois One', sans-serif;
$font-alt : 'Didact Gothic', sans-serif;
$font-icon : 'ElegantIcons';


//Tamaño base de la fuente
$font-base-size: 18;

// Colores
$color-main : #8dbe49;
$color-dark : #040602;
$color-light : #78AE2D;
$color-font: $color-main;
