*, h1, a, h2, h3, h4, h5, h6, h7, p, div, span, q, input, li, dl, dt, dd {
	color: $color-font;
	text-decoration: none;
	margin: 0;
	padding: 0;
	outline: none;
	border: 0;
	box-sizing: border-box;
	
}
a {
	&:hover, &:active, &:focus {
		color: $color-font;
		outline: none;
	}
}
button {
	background: none;
	cursor: pointer;
}